
@media screen and (max-width:800px) {

    *{
        box-sizing:border-box;
        margin: 0;
        padding: 0;
    }

    body{
        overflow: hidden;
    }
    
    .container{
        height: 100vh;
        padding: 20px 0;
        background-color: #121212;
        display: flex;
        flex-direction: column;   
        justify-content: space-between; 
        align-items: center;
    }
    
    .item{
        margin: 10px;
        color: #fff;
    
    }

    .header::after{
        content: "";
        width: 30vw;
        height: .2rem;
        background-color: rgb(33, 11, 238);
        position:absolute;
        left: 35%;

         
    }
    
    .section p{
        line-height: 1.4rem;
        font-size: 1.2rem;
        color: goldenrod;
    }

ul{
    list-style: circle;
    margin-left: .7rem;

}

ul li{
    margin-top: .5rem;
    color: goldenrod;
    font-size: 1.2rem;
}

a{
    display: block;
    position: absolute;
    left: 2rem;
    text-decoration: none;
    color: goldenrod;
    font-size: 1.2rem;
    top: 2rem;
    letter-spacing: .1rem;
    font-weight: 400;
}
    
    .footer{
        font-size: .8rem;
        color: silver;
        letter-spacing: 0.1rem;
        text-align: center;
      
    }

}


@media screen and (min-width:800px) {
    *{
        box-sizing:border-box;
        margin: 0;
        padding: 0;
    }

    
    body{
        overflow: hidden;
    }
    .container{
        height: 100vh;
        padding: 20px 0;
        background-color: #121212;
        display: flex;
        flex-direction: column;   
        justify-content: space-between; 
        align-items: center;   
    }

    .item{
        margin: 10px;
        color: #fff;
    }

    a{
        display: block;
        position: absolute;
        left: 2rem;
        text-decoration: none;
        color: #311b92;
        font-size: 1.5rem;
        top: 2rem;
        letter-spacing: .1rem;
        font-weight: 400;
    }

    .header::after{
        content: "";
        width: 30vw;
        height: .2rem;
        background-color: goldenrod;
        position:absolute;
        left: 35%;

         
    }

    .section{
        width: 50%;
    }

    .section p{
        line-height: 1.4rem;
        font-size: 1.5rem;
        color: goldenrod;
    }

    ul{
        list-style: circle;
    
    }
    
    ul li{
        margin-top: .5rem;
        color: goldenrod;
        font-size: 1.5rem;
    }
    

    
    .footer{
        color: silver;
        text-align: center;
    }
}
